<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
<!-- Bootstrap CSS -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body class="container">
	<header th:insert="frag :: header"></header>
	
	<div>
		<h1>Fotos</h1>
		<form>
		
		    <label class="form-label">Name</label>
		    <input type="text" name="q" th:value="${query}">
		  
		  	<input type="submit" value="Search" class="btn btn-warning mb-1">
		  
		</form>
		<br><br>
		
		<a th:href="@{/fotos/admin/create}" class="btn btn-warning mb-3">Create foto</a>
		<table th:if="${fotos.size()} > 0" class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Title</th>
					<th scope="col">Description</th>
					<th scope="col">Tag</th>
					<th scope="col">Visible</th>
					<th scope="col">Categories</th>
					<th scope="col">
					<th scope="col">
				</tr>
			</thead>
			<tbody>
				<tr
					th:each="foto : ${fotos}"
					th:object=${foto}
				>
					<td>[[*{id}]]</td>
					<td>
						<a
							th:href="@{/fotos/admin/foto/{id} (id=*{id})}"
						>
							[[*{title}]]
						</a>
					</td>
					<td>[[*{description}]]</td>
					<td>[[*{tag}]]</td>
					<td>[[*{visible}]]</td>
					<td>
						<ul th:if="*{categories}">
							<li
								th:each="category : *{categories}"
								th:object="${category}"
							>
								[[*{name}]]
							</li>
						</ul>
					</td>
					<td>
						<a
							th:href="@{/fotos/admin/update/{id} (id = *{id})}"
							class="btn btn-warning"
						>
							Edit
						</a>
						<a
							th:href="@{/fotos/admin/delete/{id} (id = *{id})}"
							class="btn btn-danger"
						>
							Delete
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>